<div class="row marketing content">
	<h4>IRC images and stuff</h4>

	<button class="btn btn-default" ng-hide="offset == 0" ng-click="loadPrev()">Load previous</button>
	<p>Page {{page}} / {{listCount}}</p>

	<div ng-class="{'pull-left': filter != 'link'}" class="image-list-item" ng-repeat="link in links">
		<span ng-link ng-model="link"></span>
	</div>

	<div class="load-more-wrap">
		<hr />
		<button class="btn btn-default" ng-hide="links.length <  itemsInPage()" ng-click="loadNext()">Load more</button>
	</div>
</div>

<script type="text/ng-template" id="displayBoxTemplate.html">
	<div class="display-box" ng-show="displayObject" ng-click="hideImage()">
		<span>{{displayObject.model.Sender_name}}</span>
		<span>{{displayObject.model.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
		<img ng-src="{{displayObject.url}}" />
	</div>
</script>
