{% spaceless %}
	{% load staticfiles %}
	{% load content_handler %}
<!DOCTYPE html>{% endspaceless  %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "irc/style.css" %}" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="{% static "irc/js/waterfall.min.js" %}"></script>
	<script src="{% static "irc/js/jquery.popup.js" %}"></script>
	<script src="{% static "irc/js/main.js" %}"></script>
	<title>ircbot</title>
</head>

<body>
	{% menu category%}
	<div class="content">

		{% spaceless %}
			{% block content %}{% endblock %}
		{% endspaceless  %}

	</div>
	{% block page %}{% endblock %}

</body>
</html>