{% load staticfiles %}
{% load content_handler %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static "irc/style.css" %}" />
	<link rel="stylesheet" href="{% static "irc/lightbox.css" %}" />
	<link rel="stylesheet" href="{% static "irc/jquery.fancybox.css" %}" media="screen" />
	<script src="{% static "irc/js/jquery-2.0.3.js" %}"></script>
	<script src="{% static "irc/js/lightbox-2.6.min.js" %}"></script>
	<script src="{% static "irc/js/main.js" %}"></script>
	<script src="{% static "irc/js/jquery.fancybox.js" %}"></script>
	<script src="{% static "irc/js/jquery.fancybox-media.js" %}"></script>
	<title>#asfalt IRC links</title>
</head>

<body>

	<div class="leftMenu">
	    <nav class="menuItems">
	        <h3>Menu</h3>
		     {% menu %}
	        <a id="irc" href="javascript: void(1)">IRC</a>
	    </nav>
	</div>
    <div class="content">
    	<div class="slides">
		    {% spaceless %}
		        {% block content %}{% endblock %}
		    {% endspaceless  %}
	    </div>
	    <div class="pageing">
    		{% block page %}{% endblock %}
    	</div>
    </div>
</body>
</html>