{% extends "irc/base.html" %}
{% block content %}

{% if links %}
    {% for link in links %}
		<p>{{ link.content }}<p>
    {% endfor %}
{% endif %}

{% if picture %}
	{% for link in picture%}
		<img src="{{ link.content }}" />
	{% endfor %}
{% endif %}

{% if youtube %}
	{% for link in youtube%}
		<div data-url="{{link.youtubelink}}" class="youtubeLink">
			<div class="youtubeIcon"></div>
			<img src="http://img.youtube.com/vi/{{link.content}}/0.jpg"/>
		</div>
	{% endfor %}
{% endif %}

{% if gif %}
    {% for link in gif %}
		<span>{{ link.content }}<span>
    {% endfor %}
{% endif %}

{% endblock %}