{% extends "irc/base.html" %}
{% block content %}
{% load content_handler %}

<div>
        {% if picture %}
                {% for link in picture %}
                        {% photo link %}
                {% endfor %}
        {% endif %}
</div>

<div>
        {% if gif %}
            {% for link in gif %}
                        {% gif link %}
            {% endfor %}
        {% endif %}
</div>

<div>
        {% if youtube %}
                {% for link in youtube %}
                        {% youtube link%}
                {% endfor %}
        {% endif %}
</div>

<div>
        {% if links %}
            {% for link in links %}
                        {% url link %}
            {% endfor %}
        {% endif %}
</div>

<div>
	Coming, maybe
</div>

<div>
	Coming
</div>

{% endblock %}